<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Compra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<nav class="navbar">
      <a href="{{ url_for('inicio') }}">Ir a la Pagina Principal</a>
        {% if session.usuario %}
       <a href="{{ url_for('login.logout') }}">Cerrar Sesión</a>
        {% else %}
       <a href="{{ url_for('login.login') }}">Iniciar Sesión</a>
        {% endif %}
</nav>
<h1 class="titulo1">Formulario de Compra</h1>

{% if mensaje %}
    <div class="alerta">{{ mensaje }}</div>
{% endif %}

<form class="formulario" action="/agregar-compra" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="direccion">Dirección:</label>
    <input type="text" id="direccion" name="direccion" required>
    
    <label for="producto">Producto:</label>
    <input type="text" id="producto" name="producto" required>

    <label for="cantidad">Cantidad:</label>
    <input type="number" id="cantidad" name="cantidad" required>

    <label for="precio">Precio:</label>
    <input type="number" id="precio" name="precio">

    <button type="submit">Agregar compra</button>
</form>
</body>
</html>