<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class ="navbar">
            <a href="{{ url_for('formulario') }}">Ir al Formulario de Compra</a>
        {% if session.usuario %}
        <a href="{{ url_for('login.logout') }}">Cerrar Sesión</a>
        <span>Bienvenido, {{ session.usuario }}!</span>
        {% else %}
        <a href="{{ url_for('login.login') }}">Iniciar Sesión</a> 
        {% endif %}
    </nav>

    <h1>Bienvenido a la Página Principal</h1>
    <p>Esta es una aplicación de ejemplo para gestionar compras.</p>
</body>
</html>