.carrito-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.carrito-tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.carrito-tabla th, .carrito-tabla td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

.carrito-acciones a,
.btn-ir-catalogo{
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 10px;
    margin: 10 10px;
}
